[user]
	name = Trent Haines
{{- if eq .chezmoi.hostname "trent-decagon" }}
	email = trent.haines@decagon.ai
{{- else }}
	email = trentshaines@gmail.com
{{- end }}
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[push]
	autoSetupRemote = true
	default = current
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[core]
	autocrlf = input
	excludesfile = /Users/trent/.gitignore_global
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://github.rbx.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[alias]
	sync-master = !git fetch origin master && git merge origin/master
[pull]
	rebase = true
[rerere]
	enabled = true
